/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

* {
  margin: 0;
  padding:  0;
  box-sizing: border-box;
}

 @import url('https://fonts.googleapis.com/css?family=Anton');
 @import 'https://fonts.googleapis.com/css?family=Baloo+Paaji';
 @import url('https://fonts.googleapis.com/css?family=Pacifico');
 @import "font-awesome";
 @font-face {
  font-family:'logotypegothic';
  src:font-url('logotypegothic.otf')
}

html {
  font-size: 16px;
}

body {
  // font-family: "Avenir Next";
  font-family:'logotypegothic';

}

ul {
  list-style: none
}

a:link,
a:visited {
  text-decoration: none;
  color: #000;
}

.clearfix:after {
  clear: both;
  content: "";
  display: block;
}

.fa-green:before
{
  color: #A4C639 ;
  font-size: 20px;
  padding-right: 3px;
}

// HEADER

.header-box {
  background-color: #2F24C1;
  height: 60px;
  font-family: 'Intro';
}

.header-nav {
  float: right;
  margin-right: 100px;
  margin-top: 30px;
}

.header-nav li {
  display: inline-block;
  margin-right: 20px;
}

.header-nav a {
  color: #fff;
}

.header-nav a:hover {
  color: red;
}

// HEADER


// FOOTER

.footer-box {
  height: 100px;
  background-color: #F1F7FA;
  border-top: 2px solid #3E6B89;
  margin-bottom: 20px;
}

.footer-box p {
  text-align: center;
  padding-top: 15px;
  font-size: 15px;
}

// FOOTER

 // ADMIN SIGN FORM

.admin-sign-box {
  text-align: center;
  padding-top:  80px;
  h2 {
    padding-bottom: 35px;
  }
}

.admin-sign-field {
  margin-bottom: 30px;
  label {
    font-size: 13px;
  }
  input[type="email"],
  input[type="password"] {
    height: 40px;
    width: 300px;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 15px;
    margin-top: 5px;
  }
}

.admin-sign-button input[type="submit"] {
  height: 35px;
  width: 145px;
  border: 1px solid #8C9EFF;
  border-radius: 6px;
  margin-bottom: 70px;
  margin-top: 20px;
  background-color: #c5c5c5;
  font-size: 15px;
  font-weight: 900;
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 10px;
  }
}

 // ADMIN SIGN FORM


  // USER SIGN FORM

 .user-sign-img {
  background-image: url("/images/travel_signboard.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.user-sign-img-rgba {
  background-color: rgba(255,255,255,0.8);
  height: 100%;
}

.user-sign-box {
  margin: 0 auto;
  width: 330px;
  text-align: center;
  padding-top: 80px;
  h2 {
    padding-bottom: 35px;
  }
}

.user-sign-up-box {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  h2 {
    padding-top: 80px;
    padding-bottom: 35px;
  }
}

.user-sign-up-form {
  text-align: left;
  display: inline-block;
  input {
    height: 40px;
    width: 300px;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 5px;
    margin-right: 20px;
    font-size: 15px;
  }
}

.user-sign-field {
  margin-bottom: 30px;
  label {
    font-size: 13px;
  }
  input[type="email"],
  input[type="password"] {
    height: 40px;
    width: 300px;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 5px;
    font-size: 15px;
  }
}

.user-sign-button input[type="submit"] {
  height: 35px;
  width: 145px;
  border: 1px solid #8C9EFF;
  border-radius: 6px;
  margin-bottom: 30px;
  margin-top: 40px;
  background-color: #8C9EFF;
  font-size: 15px;
  font-weight: 900;
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 10px;
  }
}

.user-sign-link {
  font-size: 12px;
  line-height: 30px;
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
  a:hover {
    opacity: 0.4;
  }
}

.reset-password-info {
  font-size: 12px;
  margin-bottom: 20px;
}

 // USER SIGN FORM


 // COUNTRY INDEX

.country-index-title {
  width: 30%;
  margin: 0 auto;
  font-size: 20px;
  padding-top: 20px;
  border-bottom: 1px solid #c5c5c5;
  text-align: center;
  p {
    font-size: 15px;
    padding-bottom: 5px;
  }
}

.country-index-img {
  width: 95%;
  height: 580px;
  background-image: url("/images/the-pink-panter-1996281_1280.jpg");
  background-size: cover;
  background-position: 20% 40%;
  margin: 30px auto;
  position: relative;
  font-family: 'Baloo Paaji', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
}

.country-index-img h1,
.country-index-img h2,
.country-index-img h3 {
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  line-height: 580px;
  span {
    width: 100%;
    float: left;
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    transform: translateY(-50px);
    opacity: 0;
    animation-name: titleAnimation;
    animation-timing-function: ease;
    animation-duration: 3s;
  }
}

.country-index-img h1 span {
  animation-delay: 0.6s;
  &:first-child{
    animation-delay: 0.7s;
  }
  &:last-child{
    animation-delay: 0.5s;
  }
}
.country-index-img h2 {
  top: 0;
  position: absolute;
  span {
    animation-delay: 4.1s;
    -webkit-animation-fill-mode: forwards;
    &:first-child{
      animation-delay: 4.2s;
    }
    &:last-child{
      animation-delay: 4s;
    }
  }
}

.country-index-img h3{
  top: 0;
  position: absolute;
  span{
    animation-delay: 7.8s;
    -webkit-animation-fill-mode: forwards;
    &:first-child{
      animation-delay: 7.7s;
    }
    &:last-child{
      animation-delay: 7.5s;
    }
  }
}

@keyframes titleAnimation {
    0% {
      transform: translateY(-50px);
      opacity: 0;
      -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
      clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  }
  20% {
      transform: translateY(0);
      opacity: 1;
      -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
      clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
  80% {
       transform: translateY(0);
       opacity: 1;
      -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
      clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
  100% {
       transform: translateY(50px);
       opacity: 0;
      -webkit-clip-path: polygon(100% 0, 100% -0%, 0 100%, 0 100%);
      clip-path: polygon(100% 0, 100% -0%, 0 100%, 0 100%);
  }
}

.country-index-box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 90%;
  margin: 50px auto;
}

.country-index-link {
  display: inline-block;
  border: 1px solid #c5c5c5;
  border-radius: 10px 10px 0 0;
  width: 19%;
  height: 300px;
  margin-bottom: 30px;
  margin-right: 1%;
  background-color: #F3F6F6;
  h4 {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #333;
    font-weight: 500;
    font-family: 'Pacifico', cursive;
  }
  a img {
    margin: 0 auto;
    width: 100%;
    height: 200px;
  }
  a p {
    text-align: center;
    font-size: 12px;
    padding-top: 10px;
    letter-spacing: 3px;
  }
}

.country-index-link-img {
  position: relative;
  overflow: hidden;
  height: 200px;
}

.country-index-link-img {
  dl {
    position: absolute;
    top: 0;
    margin: 0;
    color: #fff;
    background: rgba(205,92,92,.9);
    text-align: justify;
    word-break: break-all;
    background-color: transparent;
    padding: 20px;
    &:before, &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 200px;
      background: #cd5c5c;
      opacity: 0;
      transition: opacity 0.6s, transform 0.6s;
    }
    &:before {
      transform: translateX(-125%) skew(-30deg);
    }
    &:after {
      transform: translateX(125%) skew(-30deg);
    }
    dt {
      font-size: 20px;
      padding-bottom: 8px;
    }
    dd {
      font-size: 12px;
      line-height: 18px;
    }
  }
  dl dt, dl dd {
    position: relative;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
  }
  &:hover dl dt,
  &:hover dl dd {
    opacity: 1;
    transition-delay: .7s;
  }
  &:hover dl {
      &:before, &:after {
        opacity: 0.6;
        transition-duration: .7s;
      }
      &:after{
        transform: translateX(-50%) skew(0);
      }
      &:before {
        transform: translateX(50%) skew(0);
      }
    }
}

 // COUNTRY INDEX


 // COUNTRY DETAIL

.country-detail-box {
  text-align: center;
  margin-top: 60px;
  position: relative;
  h1 {
    text-align: center;
    color: #fff;
    font-size: 54px;
    letter-spacing: 3px;
    padding-top: 50px;
  }
}

.country-detail-img {
  height: 600px;
  width: 1200px;
  margin: 0 auto;
}



.country-detail-overview-title {
  h2 {
    margin: 30px auto 60px;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 1px solid #000;
    width: 80%;
    letter-spacing: 10px;
  }
}

.country-detail-overview {
  width: 80%;
  margin: 0 auto;
  h2 {
    padding-top: 50px;
    margin-top: 100px;
    margin-bottom: 30px;
    border-bottom: 1px solid #000;
    width: 50%;
    span {
      padding-left: 30px;
      font-size: 18px;
    }
  }
  h3 {
  margin-top: 30px;
  }
}

 // COUNTRY DETAIL


 .back-button {
  margin: 80px auto;
  padding: 5px 10px;
  width: 150px;
  border: 1px solid #8C9EFF;
  border-radius: 6px;
  text-align: center;
  transition: all 0.2s linear 0s;
  overflow: hidden;
  position: relative;
  text-transform: capitalize;
  &:before {
    content: "\f177";
    font-family: FontAwesome;
    font-size: 15px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    opacity: 0;
    height: 100%;
    width: 40px;
    transition: all 0.2s linear 0s;
  }
  &:hover {
    background-color: #E1F5FE;
    text-indent: 20px;
    &:before {
      opacity: 1;
      text-indent: 0px;
    }
  }
}


 // USER MYPAGE

 .user-mypage-wrap {
  background-color: #E8EAF6;
  font-family:'logotypegothic';
 }

.user-mypage-box {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 30px;
  background-color: #fff;
  h1, h2 {
    margin-bottom: 20px;
    padding-top: 50px;
    padding-left: 20px;
    span {
      font-size: 15px;
      padding-left: 30px;
    }
  }
  .mypage-menu {
    border-top: 2px solid #00008b;
    display: flex;
    justify-content: flex-end;
    background-color: #C5CAE9;
    margin-bottom: 60px;
    ul {
      li {
        display: inline-block;
        margin-right: 40px;
        padding: 5px;
        a {
          padding: 5px 10px;
        }
      }
    }
  }
}

.mypage-menu-item{
  position: relative;
  overflow: hidden;
  display: inline-block;
  &:before {
    left: 0;
    transform: translate3d(-100%, 0, 0);
  }
  &:after {
    right: 0;
    transform: translate3d(100%, 0, 0);
  }
  &:before, &:after {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: transform .2s ease-out, opacity .2s ease-out;
    background-color: #9FA8DA;
    color: blue;
  }
  &:hover:before, &:hover:after, &:focus:before, &:focus:before {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.mypage-menu-item-label{
  position: relative;
  z-index: 2;
}

.mypage-user-hello {
  margin-left: 100px;
  margin-bottom: 30px;
  vertical-align: middle;
  margin-right: 30px;
  h3 {
    img {
      margin-right: 20px;
      vertical-align: middle;
    }
  }
}

.mypage-journal-box {
  width: 80%;
  margin: 0 auto;
}

.mypage-to-journal-edit {
  display: inline-block;
  background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
  p {
    display: inline-block;
    margin: 10px;
    width: 90px;
  }
  a {
  padding: 5px 10px;
  line-height: 30px;
  color: #dbecf8;
  &:hover {
    color: #333;
  }
  }
}

.hovicon.effect-5 {
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 1);
  overflow: hidden;
  transition: background 0.3s, color 0.3s, box-shadow 0.3s;
  &:after {
    display: none;
  }
  &:hover {
  background: rgba(255, 255, 255, 1);
  color: #702fa8;
  box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.3);
    i {
      color: #702fa8;
    }
  }
}

.hovicon.effect-5.sub-a:hover:before {
  animation: toRightFromLeft 0.3s forwards;
}

@keyframes toRightFromLeft {
  49% {
      transform: translate(100%);
  }
  50% {
      opacity: 0;
      transform: translate(-100%);
  }
  51% {
      opacity: 1;
  }
}

.hovicon.effect-5.sub-b:hover:before {
  animation: toLeftFromRight 0.3s forwards;
}

@keyframes toLeftFromRight {
  49% {
      transform: translate(-100%);
  }
  50% {
      opacity: 0;
      transform: translate(100%);
  }
  51% {
      opacity: 1;
  }
}

.hovicon.effect-5.sub-c:hover:before {
    animation: toTopFromBottom 0.3s forwards;
}

@keyframes toTopFromBottom {
  49% {
      transform: translateY(-100%);
  }
  50% {
      opacity: 0;
      transform: translateY(100%);
  }
  51% {
      opacity: 1;
  }
}

.hovicon.effect-5.sub-d:hover:before {
  animation: toBottomFromTop 0.3s forwards;
}

@keyframes toBottomFromTop {
  49% {
      transform: translateY(100%);
  }
  50% {
      opacity: 0;
      transform: translateY(-100%);
  }
  51% {
      opacity: 1;
  }
}

.hovicon {
    display: inline-block;
    cursor: pointer;

    text-align: center;
    position: relative;
    text-decoration: none;
    z-index: 1;
    color: #fff;
  }

  .hovicon:after {
    width: 100%;
    height: 100%;
    content:'';
    box-sizing: content-box;
}
.hovicon:before {
    speak: none;
    text-transform: none;
    display: block;
}

 // USER MYPAGE


 // USER REGISTRATION EDIT

.account-form {
  width: 70%;
  margin: 40px auto 0;
}

.account-form1 {
  float: left;
}

.account-form2 {
  float: right;
}

.account-form-field {
  @extend .user-sign-field;
  input {
    height: 40px;
    width: 300px;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 5px;
    font-size: 15px;
  }
  span, em {
    font-size: 12px;
  }
}

.account-form-button {
  @extend .user-sign-button;
  text-align: center
}

.account-back-button {
  @extend .back-button;
  margin-top: 50px;
}


 // USER REGISTRATION EDIT


// TRAVEL JOURNAL

.travel-journal-box {
  width: 80%;
  margin: 50px auto;
}

// TRAVEL JOURNAL NEW

.travel-journal-form-title {
  text-align: center;
  margin-bottom: 60px;
  padding-top: 12px;
  padding-bottom: 30px;
  color: #2F24C1;
  background-image: url("/images/turquoise-top-gradient-background.jpg");
  background-size: contain;
}

.travel-journal-form {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  h3 {
    background-color: #93f9ec;
    line-height: 30px;
  }
  input, textarea {
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 12px;
    background-color: #f5f5f5;
    border-style: none;
    border: 1px solid #333;
    border-radius: 3px;
  }
  textarea {
    height: 100px;
  }
  select {
    margin-top: 10px;
    margin-bottom: 60px;
    font-size: 16px;
    height: 30px;
  }
  input[type="checkbox"] {
    font-size: 15px;
    width: auto;
    margin: 10px;
  }
  p {
    font-size: 12px;
  }
  input[type="submit"] {
    width: 200px;
    margin-top: 50px;
    &:hover {
      background-color: #93f9ec;
    }
  }
  input[type="date"] {
    width: 20%;
  }

}

// TRAVEL JOURNAL NEW


// TRAVEL JOURNAL INDEX

.journal-index-box {
  width: 80%;
  margin: 30px auto;
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  padding: 20px 30px;
}

.journal-index-left {
  float: left;
  width: 80%;
}

.journal-index-title {
  border-bottom: 1px solid #dcdcdc;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.journal-index-date {
  font-size: 12px;
  margin-bottom: 20px;
  margin-top: 0;
  color: #a9a9a9;
}

.journal-index-content {
  color: #808080;
  word-wrap: break-word;
}

.journal-index-user {
  margin-top: 20px;
  img {
    vertical-align: middle;
    margin-right: 20px;
  }
  span {
    font-size: 12px;
    padding-right: 10px;
  }
}

.journal-index-right {
  float: right;
}

// TRAVEL JOURNAL INDEX


// TRAVEL JOURNAL SHOW

.travel-journal-detail-box {
  width: 40%;
  margin: 50px auto;
  h2 {
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    padding: 16px 10px;
  }
  p {
    padding: 16px 10px;
  }
  .journal-detail-date {
    font-size: 12px;
    padding-right: 20px;
  }
  .journal-detail-user {
    span {
      font-size: 12px;
      padding-right: 10px;
    }
  }
  .travel-journal-detail-img {
    margin: 30px auto;
    width: 90%;
    img {
      width: 100%;
      height: 300px;
    }
  }
}

// TRAVEL JOURNAL SHOW


// TRAVEL MATE INDEX

.travel-mate-index-box {
  width: 50%;
  margin: 50px auto;
  h2 {
    text-align: center;
    background-image: url("/images/gradation_green2.jpg");
    background-size: contain;
    color: #2F24C1;
    margin-bottom: 60px;
    padding: 20px;
  }
}

.travel-mate-index-box > a{
  color: #fff;
}

.square_btn{
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background-image: linear-gradient(45deg, #709dff 0%, #b0c9ff 100%);
  border-bottom: solid 4px #627295;
  border-radius: 3px;
  &:active {
    transform: translateY(4px);
    border-bottom: none;
  }
}


.travel-mate-index {
  @extend .journal-index-box;
  h2 {
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: 20px;
  }
}

.travel-mate-index-date {
  @extend .journal-index-date;
}

.journal-index-content {
  color: #808080;
}

.journal-index-user {
  margin-top: 20px;
  span {
    font-size: 12px;
    padding-right: 10px;
    color: #333;
  }
}

// TRAVEL MATE INDEX

.travel-mate-box {
  width: 50%;
  margin: 50px auto;
  h2 {
    background-image: linear-gradient(0deg, #15BBD1, #1E4EC8);
    color: #aaa;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
  }
}

.travelmate-detail-user {
  font-size: 18px;
  color: blue;
  margin-bottom: 10px;
  span {
    margin-right: 15px;
  }
}

.travelmate-detail-content {
  border: 1px solid #dcdcdc;
  padding: 20px;
  margin: 20px;
  word-wrap: break-word;
}

.travelmate-detail-list {
  p {
    padding-bottom: 10px;
  }
}

// TRAVEL MATE INDEX


// INQUIRY NEW

.inquiry-box {
  width: 50%;
  margin: 50px auto;
  h2 {
    color: #191970;
    background-color: #e0ffff;
    text-align: center;
    margin-bottom: 30px;
    padding: 10px;
  }
  p {
    line-height: 20px;
    margin-bottom: 50px;
  }
}

.inquiry-form {
  margin: 0 auto;
  width: 80%;
  table {
    width: 100%;
    tr {
    }
    td {
      padding: 5px 10px;
      word-wrap: break-word;
      input {
        height: 30px;
        width: 300px;
        border-radius: 5px;
        margin-bottom: 30px;
      }
      textarea {
        width: 300px;
        height: 100px;
      }
      input, textarea {
        padding: 5px 10px;
      }
     }
   }
}

.inquiry-btn{
  text-align: center;
  input {
    margin-top: 50px;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    padding: 5px 20px;
    font-size: 16px;
    &:hover {
      color: red;
    }
  }
}

.inquiry-thanks {
  text-align: center;
  margin: 50px;
  height: 500px;
  h2 {
    padding-bottom: 30px;
  }
  p {
    line-height: 20px;
  }
}

// INQUIRY NEW


// SIGN UP MAIL

.each-title {
  text-align: center;
  color: #2F24C1;
  background-image: url("/images/turquoise-top-gradient-background.jpg");
  background-size: contain;
}








