/*
 *= require_tree .
*/

.top-img {
  background-image: url("/images/travel_signboard.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 97%;
  height: 100vh;
  margin: 0 auto;
}

.top-header-nav {
  float: right;
  margin-right: 50px;
  margin-top: 30px;
  text-align: right;
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Avenir Next";
  li {
    display: inline-block;
    margin-left: 30px;
    font-size: 18px;
  }
  a {
    color: #F23557;
    position: relative;
    transition: all .3s;
    &:hover{
      color: #aaa;
      padding-bottom: 2px;
    }
    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 0%;
      content: "";
      color: transparent;
      background: #aaa;
      height: 2px;
      transition: all .3s;
    }
    &:hover:after {
      width: 100%;
    }
  }
}

.top-subtitle {
  margin-top: 50px;
  margin-right: 50px;
  float: right;
  background-color: rgba(255, 255, 255, 0.5);
  svg {
    font-size: 8rem;
    font-family: 'Anton', sans-serif;
    font-weight: 900;
    letter-spacing: 5px;
  }
}

svg.intro {
  .text {
    display: none;
  }
  &.go {
    .text {
      display: block;
    }
    .text-stroke {
      fill:none;
      stroke: #f23557;
      stroke-width: 9px;
      stroke-dasharray: 900;
      stroke-dashoffset: -900;
      stroke-linejoin: round;
      stroke-linecap: butt;
      animation: dash 2.5s ease-in-out forwards;
    }
    .text-stroke:nth-child(2) {
      animation-delay: .2s
    }
    .text-stroke:nth-child(3) {
      animation-delay: .5s;
    }
    .text-stroke-2 {
      stroke: #b02c40;
      animation-delay: .1s;
    }
    .text-stroke:nth-child(5) {
      animation-delay: 1.2s;
    }
    .text-stroke:nth-child(6) {
      animation-delay: 1.3s;
    }
  }
}

@keyframes dash {
  100% {
    stroke-dashoffset: 1;
  }
}

/* TOP MENU */

.toppage-menu {
  margin-bottom: 30px;
  margin-top: 30px;
  height: 70px;
  background-color: #3fd1cb;
  border-top: 3px solid #c5c5c5;
  border-bottom: 3px solid #c5c5c5;
  box-sizing: content-box;
  ul li {
    display: inline-block;
    text-align: center;
    font-family: "Paytone One";
    font-size: 20px;
    width: 20%;
    border-right: 2px solid #0e3735;
    text-transform: uppercase;
    line-height: 70px;
    a {
      display: block;
      color: #1a8b9d;
      font-weight: 900;
      text-shadow: 0 13px 9px #05807b, 0 -2px 1px #fff;
      z-index: 1;
    }
  }
}

.topmenu-btn {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  span {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: #76bebb;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
    transform:  translate(-50%, -50%);
    z-index: -1;
  }
  &:hover {
    color: #daefee;
    span {
      width: 225%;
      height: 562.5px;
    }
  }
}

/* TOP MENU */


/* CONTENT AREA */

[class^="top-content"] {
  height: 350px;
  border-bottom: 2px solid #1A237E;
}

.top-content1 {
  background-color: #BBDEFB;
}

.top-content2 {
  background-color: #B3E5FC;
}

.top-content3 {
  background-color: #B2EBF2;
}

.top-content4 {
  background-color: #B2DFDB;
}

.top-content5 {
  background-color: #C8E6C9;
}

[class^="top-content-title"] {
  color: #fff;
  font-family: Avenir Next, Helvetica Neue, Helvetica, Tahoma, sans-serif;
  font-weight: 900;
  line-height: 350px;
  letter-spacing: 10px;
  span {
    display: inline-block;
    position: relative;
    transform-style: preserve-3d;
    perspective: 500;
    margin-right: -3px;
    &:before {
      z-index: 1;
      color:  rgba(0, 0, 0, 0.2);
      transform: scale(1.1, 1) skew(0deg, 20deg);
    }
    &:after {
      z-index: 2;
      color: #3E6B89;
      text-shadow: 01px 0.1px #684da3, 10x 0.1px rgba(0, 0, 0, 0.8);
      transform: rotateY(-40deg);
    }
    &:before,
    &:after {
      position: absolute;
      top: 0;
      left: -1px;
      transform-origin: left top;
      transition: all ease-out 0.3s;
      content: attr(data-text);
    }
    &:hover::before {
      transform: scale(1.1, 1) skew(0deg, 5deg);
    }
    &:hover::after {
      transform: rotateY(-10deg)
    }
  }
}

.top-content-title1 {
  float: left;
  padding-left: 100px;
  font-size: 4rem;
}

.top-content-title2 {
  float: right;
  padding-right: 100px;
  font-size: 4rem;
}

/* CONTENT AREA */


/* COUNTRY LIST */

.top-country-list-box {
  float: right;
  padding: 50px 100px 0;
  font-weight: 700;
  line-height: 3rem;
  column-count: 2;
  height: 100%;
}

.country-name {
  position: relative;
  display: inline-block;
  padding-right: 150px;
  &:after {
    content: '' attr(data_hover_label) '';
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transform: scale(1.2);
    transition: transform .2s ease-out, opacity .2s ease-out;
    color: #000;
  }
  &:hover:after {
    opacity: 1;
    transform: scale(1);
    transition-duration: .2s;
    transition-delay: .15s;
  }
}

.countryname_label{
  display: inline-block;
  color: #3E6B89;
  transition: transform .2s cubic-bezier(1, .04, 0, 1.18) .25s, opacity .15s cubic-bezier(1, .04, 0, 1.18) .25s;
}

.country-name:hover .countryname_label,
.country-name:focus .countryname_label{
  opacity: 0;
  transform: scale(0);
  transition-duration: .2s;
  transition-delay: 0s;
}

/* COUNTRY LIST */


/* TRAVEL MATE */

.top-travel-mate-box {
  float: left;
  width: 40%;
  padding-top: 120px;
  text-align: right;
  p {
    padding-bottom: 30px;
  }
}

/* TRAVEL MATE */





/* TRAVEL JOURNAL */

.top-journal-list-box {
  float: right;
  width: 35%;
  padding-top: 120px;
  p {
    padding-bottom: 30px;
  }
}

.top-journal-item {
  position: relative;
  overflow: hidden;
  display: inline-block;
  &:before {
    top: 0;
    transform: translate3d(-100%, 0, 0);
  }
  &:after {
    bottom: 0;
    transform: translate3d(100%, 0, 0);
  }
  &:before, &:after {
    width: 100%;
    height: 2px;
    left: 0;
  }
}

.top-journal-item:before,
.top-journal-item:after,
.top-journal-item-label:before,
.top-journal-item-label:after {
  content: "";
  position: absolute;
  transition: transform .2s ease-out;
}

.top-journal-item-label {
  &:before {
    left: 0;
    transform: translate3d(0, 100%, 0);
  }
  &:after {
    right: 0;
    transform: translate3d(0, -100%, 0);
  }
  &:before, &:after {
    width: 2px;
    height: 100%;
    top: 0;
  }
}

.top-journal-item:hover:before,
.top-journal-item:hover:after,
.top-journal-item:hover .top-journal-item-label:before,
.top-journal-item:hover .top-journal-item-label:after,
.top-journal-item:focus:before,
.top-journal-item:focus:after,
.top-journal-item:focus .top-journal-item-label:before,
.top-journal-item:focus .top-journal-item-label:after{
  transform: translate3d(0, 0, 0);
}

.top-journal-item:focusocus {
  outline: none;
}

.top-journal-item:after,
.top-journal-item:before,
.top-journal-item-label:after,
.top-journal-item-label:before {
  background-color: #1f675f;
}

.top-journal-item:hover,
.top-journal-item:focus {
  color: #1f675f;
}

.top-journal-item {
  padding: .5rem 1.5rem;
}
